# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<db_name>?schema=public

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTHORIZE_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_REDIRECT_URI=<backend_uri>/auth/callback
# Eg: GOOGLE_REDIRECT_URI=http://locahost:4000/auth/callback
GOOGLE_AUTH_SCOPES=openid email profile
GOOGLE_JWKS_URI=https://www.googleapis.com/oauth2/v3/certs

# Backend
PORT=3000

# Frontend URL
FRONTEND_URL=
NODE_ENV=development
JWT_SECRET=<your-secret>